* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#kof{
    position: fixed;
    top: 108px;
}

body{
    background-image: urL(./images/background/monitor.jpg);
    background-size: 1480px 788px;
    background-repeat:no-repeat;
    background-position: center 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -5;
}

#kof{
    width: 1080px;
    height: 500px;
    background-image: url(./images/background/0.gif);
    background-position: top;
    background-repeat:no-repeat;
    background-size: 180% 100%;
    z-index: 10;
}